@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  border: none;
  text-decoration: none;
  color: white;
}
li{
  border: none;
  text-decoration: none;
  color: white;
  list-style: none;
}


.App {
  text-align: center;
  background-color: #373737;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-body {
  color: #61dafb;
}

.Lobby{
  text-align: center;
  background-color: #373737;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  font-size: 36px;
  color: white;
}

.Lobby-LeftCont{
  width: 50vw;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;  
  background-color: #434343;
  text-wrap: wrap;
}

.Lobby-RightCont{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #373737;
}


.Login, .SignUp{
  width: 30%;
  height: 35%;
  display: flex;
  flex-direction: column;
  background-color: #434343;
  justify-content: center;
  align-items: center;

}
 

.Login input,
.Login button {
  width : 80%;
  height: 25%;
  font-size: xx-large;
  text-size-adjust: inherit;
  margin-bottom:auto;
  background-color: #373737;
  border-style: none;
  text-align: center;
}


.SignUp input,
.SignUp button {
  width : 80%;
  height: 25%;
  font-size: xx-large;
  text-size-adjust: inherit;
  margin-bottom:auto;
  background-color: #373737;
  border-style: none;
  text-align: center;
}

.Main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Main button{
  width: 4%;
  font-size: xx-large;
  background-color: #3f3f3f;
  color: white;
  border-style: none;
  text-align: center;
}

.Left-var{
  font-size: xx-large;
  margin-bottom:auto;
  color: white;
  background-color: #373737;
  border-style: none;
  text-align: center;
  width: 20%;
  overflow: hidden;
  transition: width 0.5s ease;
}

.Right-Cont {
  width: 80%;
  height: 100%;
  font-size: xx-large;
  color: white;
  background-color: #373737;
  border-style: none;
  text-align: center;
  
}

.Right-Cont-board{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #373737;
  border-style: none;
  text-align: center;
  box-shadow: 0 0 0 7px #555555 inset;
  font-size: auto;
}
.Right-Cont-board input{
  border-style: none;
}
.Right-Cont-board button{
  width: 19%;
  height: 5vh;
  font-size: auto;
}